<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <behaviors>
        <serviceBehaviors>
          <behavior>
            <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:3721/calculatorservice/meatadata"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
        <services>
            <service name="Artech.WcfServices.Service.CalculatorService">
              <endpoint address="http://127.0.0.1:3721/calculatorservice"
                        binding="ws2007HttpBinding"
                        contract="Artech.WcfServices.Service.Interface.ICalculator">
                <headers>
                  <sn xmlns="http://www.artech.com/">{DDA095DA-93CA-49EF-BE01-EF5B47179FD0}</sn>
                </headers>
              </endpoint>
            </service>
        </services>
    </system.serviceModel>
</configuration>


