<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="calculatorservice"
                address="http://127.0.0.1:3721/calculatorservice"
                binding="ws2007HttpBinding"
                contract="Artech.WcfServices.Service.Interface.ICalculator"/>
      </client>
  </system.serviceModel>
</configuration>